body {
    background: lightskyblue;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: 40px;
    font-family: system-ui;
    color: white;
    text-shadow: 1px 1px 1px black;
    animation: 300ms latido infinite;
}

@keyframes latido {
    0% {
        transform: scale(1.1)
    }
    50% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.1)
    }
}